<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div id="app">
    <cpn :c_books="books" @to_send="toShow" ref="child01"></cpn>
    <p>{{message}}<input type="text"  v-model="message"></p>
    <button @click="getChild">调用子组件方法</button>
  </div>

  <template id="cpn">
    <div>
      <p v-for="item in c_books" @click="toSend(item)">{{item}}</p>
    </div>
  </template>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script>
    const cpn = {
      template: '#cpn',
      props:{
        c_books:{
          type: Array,
          default(){
            return []
          }
        }
      },
      methods: {
        toSend(item){
          this.$emit('to_send', item);
        },
        show02(){
          alert('子组件方法');
        }
      }
    }

    const vm = new Vue({
      el: '#app',
      components:{
        cpn
      },
      data: {
        books:['java', 'html', 'css'],
        message: "hello"
      },
      methods:{
        toShow(item){
          alert(item);
        },
        getChild(){
          this.$refs.child01.show02();
        }
      }
    })
  </script>
</body>
</html>
